:global(#root) {
  display: grid;
  gap: 4rem;
  max-width: 50rem;
  margin: 0 auto;
  padding: 4rem 2rem;
}

h1 {
  text-align: center;
}

section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

@media screen and (max-width: 600px) {
  section {
    grid-template-columns: 1fr;
  }
}

section > header {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

section > header > p {
  grid-column: 1 / -1;
}

.level {
  margin-block-end: var(--ubilabs-default-font-margin-block-end);
  font-weight: 500;
  font-size: 1.25rem; /* 20px */
  line-height: 1.6;
}

ul {
  margin: 0;
  padding-left: 1.25em;
}

img,
audio,
video {
  width: 100%;
}

.transcript {
  color: #aaa;
}

.transcript h3 {
  font-size: 1rem; /* 16px */
}

.transcript p {
  font-size: 0.875rem; /* 14px */
}
