#root {
  display: grid;
  gap: 4rem;
  max-width: 50rem;
  margin: 0 auto;
  padding: 4rem 2rem;
}

h1 {
  text-align: center;
}

section {
  display: grid;
  gap: 1rem;
}

section > header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

section > header > p {
  grid-column: 1 / -1;
}
