@font-face {
  font-family: 'Relative';
  src:
    url('https://ui-components.ubilabs.com/fonts/v2-rc/relative-book-pro.woff2')
      format('woff2'),
    url('https://ui-components.ubilabs.com/fonts/v2-rc/relative-book-pro.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Relative';
  src:
    url('https://ui-components.ubilabs.com/fonts/v2-rc/relative-medium-pro.woff2')
      format('woff2'),
    url('https://ui-components.ubilabs.com/fonts/v2-rc/relative-medium-pro.woff')
      format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Relative';
  src:
    url('https://ui-components.ubilabs.com/fonts/v2-rc/relative-bold-pro.woff2')
      format('woff2'),
    url('https://ui-components.ubilabs.com/fonts/v2-rc/relative-bold-pro.woff')
      format('woff');
  font-weight: 600;
  font-style: normal;
}
