:root {
  --ubilabs-anthracite: #1e1e1e;
  --ubilabs-white: #fff;
  --ubilabs-blue: #5a78fa;

  --ubilabs-font-color: var(--ubilabs-white);
  --ubilabs-background-color: var(--ubilabs-anthracite);

  --ubilabs-font-family: Relative, sans-serif;
  --ubilabs-default-font-size: 1rem; /* 16px */
  --ubilabs-default-line-height: 1.4;
  --ubilabs-default-font: var(--ubilabs-default-font-size) /
    var(--ubilabs-default-line-height) var(--ubilabs-font-family);
  --ubilabs-default-font-margin-block-start: 0;
  --ubilabs-default-font-margin-block-end: max(0.5em, 0.5rem);

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    --ubilabs-font-color: var(--ubilabs-anthracite);
    --ubilabs-background-color: var(--ubilabs-white);
  }
}

html,
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--ubilabs-background-color);
  color: var(--ubilabs-font-color);
  font-family: var(--ubilabs-font-family);
  font-size: var(--ubilabs-default-font-size);
  line-height: var(--ubilabs-default-line-height);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block-start: var(--ubilabs-default-font-margin-block-start);
  margin-block-end: var(--ubilabs-default-font-margin-block-end);
}

h1 {
  font-weight: 500;
  font-size: 3rem; /* 48px */
  line-height: 1.2;
  letter-spacing: -0.005em;
}

h2 {
  font-weight: 500;
  font-size: 1.5rem; /* 24px */
  line-height: 1.333;
}

h3 {
  font-weight: 500;
  font-size: 1.25rem; /* 20px */
  line-height: 1.6;
}

p {
  font-size: var(--ubilabs-default-font-size);
  line-height: var(--ubilabs-default-line-height);
}

a {
  color: var(--ubilabs-font-color);
}

a:hover,
a:focus-visible {
  color: var(--ubilabs-blue);
}
